/* Error: expected "{".
 *   ,
 * 6 | @import "./animation/keyframes.scss"; //キーフレーム
 *   |                                     ^
 *   '
 *   web\public\scss\stylesheet.scss 6:37  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 6 \2502  @import "./animation/keyframes.scss"; //\30ad \30fc \30d5 \30ec \30fc \30e0 \d\a   \2502                                      ^\a   \2575 \a   web\\public\\scss\\stylesheet.scss 6:37  root stylesheet';
}
