@tailwind base;
@tailwind components;
@tailwind utilities;
html,body {
    position: relative;
    background-image: url("/main-bg2.png");
    background-size: cover;
}
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }

  .animation-marquee {
    /* アニメーションの速度や他の設定はそのまま */
    animation: marquee 10s linear infinite;
  }
  .l-header {
    background-color: #242428;
    display: block;
    position: fixed;
    z-index: 2;
    transition: transform .3s cubic-bezier(0.07, 1.05, 0.59, 0.99);
}
@media (max-width: 768px) {
    .l-header.is-inview {
        transform: translateY(100%)
    }
}


.l-header-logo {
    margin-bottom: 25px;
    position: relative;
    transition: .2s background-color ease;
    border-radius: 6px;
}

.l-header-logo a {
    padding: 6px;
    display: block;
    width: 100%;
    height: 100%;
}

.l-header-logo:hover {
    background-color: rgba(250, 250, 255, 0.1);
}

.l-header__ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
}

.l-header__ul-item {
    border-radius: 6px;
    position: relative;
    transition: .2s background-color ease;
}

.l-header__ul-item.is-active svg {
    fill: #fafaff;
}

.l-header__ul-item:hover {
    background-color: rgba(250, 250, 255, 0.1);
}

.l-header__ul-item a {
    height: 100%;
    width: 100%;
    padding: 12px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 769px) {
    .wrapper {
        padding-left: 78px;
    }

    .l-header {
        width: 78px;
        height: 100%;
        padding: 50px 14px;
        top: 0;
        left: 0;
        right: 0;
    }

    .l-header__ul {
        flex-direction: column;
    }

    .l-header__ul-item {
        width: 100%;
        padding-top: 100%;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding: 0;
    }

    .l-header {
        width: 100%;
        height: 64px;
        padding: 8px;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
    }

    .l-header-logo {
        display: none;
    }

    .l-header__ul {
        width: 100%;
        justify-content: space-evenly;
    }

    .l-header__ul-item {
        height: 100%;
        aspect-ratio: 1 / 1;
    }
}

.p-talk {
    height: 100%;
    display: flex;
}

.p-talk-list {
    padding: 12px 12px 76px;
}

.p-talk-list-title {
    font-size: 32px;
    margin: 6px 0 12px;
}

.p-talk-list-search, .p-talk-list-search form, input {
    display: block;
}

.p-talk-list-search input {
    width: 100%;
    outline: none;
    border: none;
    background-color: #e8e8ef;
    font-weight: 400;
    padding: 8px 12px;
    border-radius: 8px;
}

.p-talk-list-rooms {
    margin: 10px 0;
    overflow-y: auto;
}

.c-talk-rooms {
    height: 64px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.c-talk-rooms:hover {
    background-color: #f2f2f8;
}

.c-talk-rooms.is-active {
    background-color: #e8e8ef;
}

.c-talk-rooms button {
    height: 100%;
    width: 100%;
    padding: 10px 8px;
    display: flex;
    color: #000000;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.c-talk-rooms a {
    height: 100%;
    width: 100%;
    padding: 10px 8px;
    display: flex;
    color: #000000;
    cursor: pointer;
}

.c-talk-rooms-icon {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: block;
    position: relative;
}

.c-talk-rooms-icon img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e8e8ef;
}

.c-talk-rooms-box {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-talk-rooms-name {
    font-weight: 700;
    font-size: 14px;
    width: fit-content;
}

.c-talk-rooms-msg {
    font-weight: 400;
    font-size: 12px;
}

@media (min-width: 1053px) {
    .p-talk {
        width: 100%;
    }

    .p-talk-list {
        width: 360px;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .p-talk-chat {
        flex-grow: 1;
        padding: 12px 12px 12px 0;
        width: 100%;
    }

    .p-talk-chat-container {
        border-radius: 8px;
    }
}

@media (max-width: 1052px) and (min-width: 769px) {
    .p-talk {
        width: 100%;
    }

    .p-talk-list {
        width: 360px;
        flex-shrink: 1;
    }

    .p-talk-chat {
        flex-shrink: 2;
        padding: 12px 12px 12px 0;
        width: 100%;
    }

    .p-talk-chat-container {
        border-radius: 8px;
    }
}

@media (max-width: 768px) {
    .p-talk {
        overflow-x: hidden;
        width: fit-content;
        transition: transform .3s cubic-bezier(0.07, 1.05, 0.59, 0.99);
    }

    .p-talk-list {
        width: 100vw;
    }

    .p-talk-chat {
        width: 100vw;
        padding: 0;
    }

    .p-talk.is-inview {
        transform: translateX(-50%);
    }
}

.p-talk-chat {
    height: 100%;
    display: block;
}

.p-talk-chat-container {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f5;
    height: 100%;
}

.p-talk-chat-title {
    font-weight: 700;
    font-size: 20px;
    border-bottom: #ededf3 1px solid;
    display: flex;
    align-items: center;
    height: 48px;
}

.p-talk-chat-prev {
    height: 100%;
    aspect-ratio: 1 / 1;
    margin-right: 10px;
    border-radius: 100px;
    padding: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background-color: #ffffff;
    outline: none;
}

.p-talk-chat-prev:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.p-talk-chat-prev svg {
    width: 100%;
    height: 100%;
}

@media (min-width: 769px) {
    .p-talk-chat-prev {
        display: none;
    }
}

.p-talk-chat-main {
    overflow-y: auto;
    flex-grow: 1;
    height: 85%;
}

.c-talk-chat {
    display: flex;
    margin: 8px 0;
}

.c-talk-chat.self {
    justify-content: right;
    margin-right: 12px;
}

.c-talk-chat-box {
    max-width: 80%;
    display: flex;
}

.c-talk-chat-icon {
    height: 36px;
    aspect-ratio: 1 / 1;
}

.c-talk-chat-name {
    font-size: 12px;
    font-weight: 700;
    margin-left: 10px;
}

.c-talk-chat-right {
    flex-grow: 1;
}

.c-talk-chat-msg {
    position: relative;
    padding: 6px 16px;
    border-radius: 12px;
    z-index: 2;
    font-size: 15px;
    line-height: 20px;
    width: fit-content;
}

.c-talk-chat-msg p {
    width: fit-content;
    max-width: 100%; /* Ensure it doesn't exceed the container width */
    word-wrap: break-word; /* Break long words */
    word-break: break-all; /* Ensure long words are broken */
}

.c-talk-chat.other .c-talk-chat-msg {
    background-color: #ffffff;
    color: #000000;
}

.c-talk-chat.self .c-talk-chat-msg {
    background-color: #ff3b3b;
    color: #ffffff;
}

.c-talk-chat.subsequent.other .c-talk-chat-msg {
    margin-left: 46px;
}

.c-talk-chat.primary.other .c-talk-chat-msg {
    margin-left: 10px;
}

.c-talk-chat.primary .c-talk-chat-msg::before {
    content: "";
    display: flex;
    position: absolute;
    height: 26px;
    width: 26px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: 0;
}

.c-talk-chat.primary.other .c-talk-chat-msg::before {
    background-image: url("static/icon_tale.svg");
    left: -10px;
}

.c-talk-chat.primary.self .c-talk-chat-msg::before {
    background-image: url("static/icon_tale_red.svg");
    right: -10px;
    transform: scale(-1, 1);
}

.c-talk-chat-date {
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #ffffff;
    white-space: nowrap;
}

.c-talk-chat.other .c-talk-chat-date {
    margin-left: 13px;
    text-align: left;
}

.c-talk-chat.self .c-talk-chat-date {
    margin-right: 13px;
    text-align: right;
}

.c-talk-date {
    width: 100%;
    margin: 20px 0 8px
}

.c-talk-chat-date-box {
    padding: 3px 12px;
    background-color: rgba(255, 255, 255, 0.6);
    width: fit-content;
    margin: 0 auto;
    border-radius: 100px;
    font-size: 11px;
}

.p-talk-chat-send {
    padding: 0 18px 12px;
    /*一番下に固定*/
    position: fixed;
    bottom: 0;
    width: 32%;
}

.p-talk-chat-send__form {
    height: 100%;
    border-radius: 12px;
    background-color: #ffffff;
    display: flex;
}

.p-talk-chat-send__msg {
    flex-grow: 1;
    position: relative;
}

.p-talk-chat-send__file {
    height: 44px;
    width: 44px;
    padding: 6px;
    flex-grow: 0;
    flex-shrink: 0;
}

.p-talk-chat-send__file img {
    border-radius: 100px;
    padding: 4px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.p-talk-chat-send__file img:hover {
    background-color: #ededf3;
}

.p-talk-chat-send__dummy {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 10px 0 10px 16px;
    margin: 0;
    overflow: hidden;
    background-color: transparent;
    white-space: break-spaces;
    overflow-wrap: break-word;
    visibility: hidden;
}

.p-talk-chat-send__msg label {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.p-talk-chat-send__textarea {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 10px 0 10px 16px;
    margin: 0;
    overflow: hidden;
    resize: none;
    background-color: #ffffff;
    white-space: break-spaces;
    overflow-wrap: break-word;
}

@media (min-width: 769px) {
    .p-talk-chat-main {
        padding: 16px;
    }

    .p-talk-chat-title {
        padding: 8px 18px;
    }
}

@media (max-width: 768px) {
    .p-talk-chat-main {
        padding: 8px;
    }

    .p-talk-chat-title {
        padding: 8px;
    }
}
.grecaptcha-badge { visibility: hidden; }