@tailwind base;
@tailwind components;
@tailwind utilities;
 .full-title {
     font-family: Roboto;
     font-size: 70px;
     font-weight: bold;
     line-height: 1.2;
}
 body {
     background-color: #0D1117;
}
 header {
     padding-top:16px;
     padding-bottom:16px;
     background: black;
     position: fixed;
     z-index: 999;
     top: 0;
     left: 0;
     width: 100%;
}
/*チェックボックス等は非表示に*/
 .nav-unshown {
     display:none;
}
/*メニューの中身*/
 #nav-content {
     width: 0px;
     height: 0px;
}
/*チェックがついたら表示させる*/
 #nav-input:checked ~ #nav-close {
     display: block;
     opacity: .5;
}
 #nav-input:checked ~ #nav-content {
     -webkit-transform: translateX(0%);
     transform: translateX(0%);
     box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
 .header-logo-menu{
     display: flex;
}
/*ロゴやサイトタイトルをセンタリング*/
 .logo-area{
     height: 10px;
     margin-left: 10px;
     margin-top: 0px;
}
 .logo-area img {
     height: 30px;
}
 .dt-nav-menu {
     color: #fff;
     display: inline-block;
     margin-right: 60px;
}
 .dt-ul-menu {
     width: 100%;
     display: flex;
     justify-content: flex-end;
    /* 要素を右寄せに配置してるんやでby aranpect */
}
 .header-menu {
     display: flex;
     padding-left: 1rem;
}
 #nav-content ul li {
     font-size: 0px;
}
 @media screen and (max-width:800px) {
     header {
         padding:10px;
         background: black;
    }
     #nav-drawer {
         position: relative;
    }
    /*チェックボックス等は非表示に*/
     .nav-unshown {
         display:none;
    }
    /*アイコンのスペース*/
     #nav-open {
         display: inline-block;
         width: 30px;
         height: 22px;
         vertical-align: middle;
    }
     #nav-open span, #nav-open span:before, #nav-open span:after {
         position: absolute;
         height: 3px;
         width: 25px;
         border-radius: 3px;
         background: #555;
         display: block;
         content: '';
         cursor: pointer;
    }
     #nav-open span:before {
         bottom: -8px;
    }
     #nav-open span:after {
         bottom: -16px;
    }
    /*閉じる用の薄黒箇所*/
     #nav-close {
         display: none;
         position: fixed;
         z-index: 99;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: black;
         opacity: 0;
         transition: .3s ease-in-out;
    }
     #nav-content {
         overflow: auto;
         position: fixed;
         top: 0;
         left: 0;
         z-index: 9999;
         width: 90%;
         max-width: 330px;
         height: 100%;
         background: #fff;
         transition: .3s ease-in-out;
         -webkit-transform: translateX(-105%);
         transform: translateX(-105%);
    }
     #nav-input:checked ~ #nav-close {
         display: block;
         opacity: .5;
    }
     #nav-input:checked ~ #nav-content {
         -webkit-transform: translateX(0%);
         transform: translateX(0%);
         box-shadow: 6px 0 25px rgba(0,0,0,.15);
    }
     .header-logo-menu{
         display: flex;
         display: -moz-flex;
         display: -o-flex;
         display: -webkit-flex;
         display: -ms-flex;
         flex-direction: row;
         -moz-flex-direction: row;
         -o-flex-direction: row;
         -webkit-flex-direction: row;
         -ms-flex-direction: row;
    }
     .logo-area{
         height: 10px;
         text-align:center;
         margin:auto;
         margin-top: 0px;
    }
     .logo-area img {
         height: 30px;
    }
     .dt-ul-menu {
         width: 0px;
         height: 0px;
    }
     .dt-ul-menu li {
         width: 0px;
         height: 0px;
         font-size: 0px;
    }
     #nav-content ul li {
         font-size: 40px;
    }
     .full {
         position: relative;
         width: 100%;
         min-height: 100vh;
         background: url("./main-bg.webp") center / cover;
    }
     .full-title {
         margin: 0;
         position: absolute;
         top: calc(40% - 0.5em);
         width: 100%;
         text-align: center;
         color: #fff;
    }
     .full-title h1 {
         font-family: Roboto;
         font-size: 3.5rem;
    }
}
/*メニューをページ下部に固定*/
#sp-fixed-menu{
    position: fixed;
    width: 100%;
    bottom: 0px;
    font-size: 0;
    z-index: 99;
 }
 
 /*メニューを横並びにする*/
 #sp-fixed-menu ul{
    display: flex;
    list-style: none;
    padding:0;
    margin:0;
    width:100%;
    background-color: black;
 }
 
 #sp-fixed-menu li{
    justify-content: center;
    /*align-items: center;*/
    width: 50%;
    padding:0;
    margin:0;
    font-size: 14px;
 }
 /*ボタンを調整*/
#sp-fixed-menu li a{
    color: #fff;
    text-align: center;
    display:block;
    width: 100%;
    padding:20px;
 }
 
 /*左側メニューを緑色に
 #sp-fixed-menu li:first-child{
    background: #38b435;
 }
 
 左側メニューをオレンジ色に
 #sp-fixed-menu li:last-child{
    background: #f3a324;
 }*/
 
 ボタンを調整
 #sp-fixed-menu li a{
    color: #fff;
    text-align: center;
    display:block;
    width: 100%;
    margin:auto;
 }
.font-size0 {
    float: left;
    padding: 20px 30px;
    text-align: center;
 }
.font0 {
    font-size: 0px;
}
 /*PCの場合にはメニューを表示させない*/

@media (min-width: 768px) {
    .for-sp{
       display:none;
     }
 }
 .menu-content::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
/*ポップアップ*/
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 30%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* フェードインとズームインのアニメーションを追加 */
  .fade-in-zoom-in {
    animation: fadeInZoomIn 0.15s; /* アニメーションの時間を0.5秒に変更 */
  }

  @keyframes fadeInZoomIn {
    0% {opacity: 0; transform: scale(0.9);}
    100% {opacity: 1; transform: scale(1);}
  }
