@tailwind base;
@tailwind components;
@tailwind utilities;
html,body {
    position: relative;
    background-image: url("/api/v2/client/bgimage");
    background-size: cover;
    background-attachment: fixed;
}
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }

  .animation-marquee {
    /* アニメーションの速度や他の設定はそのまま */
    animation: marquee 10s linear infinite;
  }
  .l-header {
    background-color: #242428;
    display: block;
    position: fixed;
    z-index: 2;
    transition: transform .3s cubic-bezier(0.07, 1.05, 0.59, 0.99);
}
@media (max-width: 768px) {
    .l-header.is-inview {
        transform: translateY(100%)
    }
}
@keyframes scroll {
    0% {
        transform: translateY(15%);
    }
    5% {
        transform: translateY(15%);
    }
    90% {
        transform: translateY(-70%);
    }
    95% {
        transform: translateY(-70%);
    }
    100% {
        transform: translateY(15%);
    }
}
.loop {
    animation: loop 10s linear infinite;
    width: 100%;
  }
  .loop2{
    position: absolute;
    top: 2px; left: 2px;
    animation: loop 10s linear infinite;
  }
  @keyframes loop {
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(-100%);
    }
  }
.scroll-animation {
    animation: scroll 25s linear infinite;
}
.g-recaptcha {
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    width:300px;
    margin-top:20px;
  }
.grecaptcha-badge { visibility: hidden; }
::-webkit-scrollbar {
    background: #000;
    width:0px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: black;
}
.l-header {
    background-color: #efeff0;
    display: block;
    position: fixed;
    z-index: 4;
    transition: transform .25s cubic-bezier(0.11, 0.91, 0.4, 0.94);
}
@media (max-width: 768px) {
    .l-header.is-inview {
        transform: translateY(100%)
    }
}


.l-header-logo {
    margin-bottom: 25px;
    position: relative;
    transition: .2s background-color ease;
    border-radius: 6px;
}

.l-header-logo a {
    padding: 6px;
    display: block;
    width: 100%;
    height: 100%;
}

.l-header-logo:hover {
    background-color: #dcdce6;
}

.l-header__ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
}

.l-header__ul-item {
    border-radius: 6px;
    position: relative;
    transition: .2s background-color ease;
}

.l-header__ul-item svg {
    stroke: #000000;
}

.l-header__ul-item.is-active svg {
    fill: #ff6060;
}

.l-header__ul-item:hover {
    background-color: #dcdce6;
}

.l-header__ul-item a {
    height: 100%;
    width: 100%;
    padding: 12px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 769px) {
    .wrapper {
        padding-left: 78px;
    }

    .l-header {
        width: 78px;
        height: 100%;
        padding: 50px 14px;
        top: 0;
        left: 0;
        right: 0;
    }

    .l-header__ul {
        flex-direction: column;
    }

    .l-header__ul-item {
        width: 100%;
        padding-top: 100%;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding: 0;
    }

    .l-header {
        width: 100%;
        height: 64px;
        padding: 8px;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
    }

    .l-header-logo {
        display: none;
    }

    .l-header__ul {
        width: 100%;
        justify-content: space-evenly;
    }

    .l-header__ul-item {
        height: 100%;
        aspect-ratio: 1 / 1;
    }
}

.p-talk {
    height: 100%;
    display: flex;
}

.p-talk-list {
    padding: 12px 12px 76px;
    background-color: #ffffff;
    z-index: 3;
}

.p-talk-list-title {
    font-size: 32px;
    margin: 6px 3px 12px;
    font-weight: 700;
}

.p-talk-list-search, .p-talk-list-search form, input {
    display: block;
}

.p-talk-list-search input {
    width: 100%;
    outline: none;
    border: none;
    font-weight: 400;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: rgb(120 120 128 / 12%);
}

.p-talk-list-search input::placeholder {
    color: rgb(60 60 67 / 60%);
}

.p-talk-list-rooms {
    margin: 10px 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.p-talk-list-rooms__ul {
    width: 100%;
}

.c-talk-rooms {
    height: 64px;
    border-radius: 8px;
    margin-bottom: 8px;
    width: 100%;
}

.c-talk-rooms:hover {
    background-color: rgb(120 120 128 / 12%);
}

.c-talk-rooms.is-active {
    background-color: #d1d1d6;
}

.c-talk-rooms button {
    height: 100%;
    width: 100%;
    padding: 10px 8px;
    display: flex;
    color: #000000;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.c-talk-rooms a {
    height: 100%;
    width: 100%;
    padding: 10px 8px;
    display: flex;
    color: #000000;
    cursor: pointer;
}

.c-talk-rooms-icon {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: block;
    position: relative;
}

.c-talk-rooms-icon img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e8e8ef;
}

.c-talk-rooms-box {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
}

.c-talk-rooms-name {
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.c-talk-rooms-nickname {
    font-weight: 700;
}

.c-talk-rooms-locate {
    color: rgb(60 60 67 / 60%);
    margin-left: 8px;
}

.c-talk-rooms-msg {
    font-weight: 400;
    font-size: 12px;
    color: rgb(60 60 67 / 60%);
}

.c-talk-rooms-msg p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 1053px) {
    .p-talk {
        width: 100%;
    }

    .p-talk-list {
        width: 360px;
        flex-grow: 0;
        flex-shrink: 0;
        border-right: 1px solid #ededed;
    }

    .p-talk-chat {
        flex-grow: 1;
        width: 100%;
    }

    .p-talk-chat-container {
        border-radius: 8px;
    }
}

@media (max-width: 1052px) and (min-width: 769px) {
    .p-talk {
        width: 100%;
    }

    .p-talk-list {
        width: 300px;
        flex-shrink: 0;
        border-right: 1px solid #ededed;
    }

    .p-talk-chat {
        flex-shrink: 2;
        width: 100%;
    }

    .p-talk-chat-container {
        border-radius: 8px;
    }
}

@media (max-width: 768px) {
    .p-talk {
        overflow-x: hidden;
        width: fit-content;
        transition: transform .25s cubic-bezier(0.11, 0.91, 0.4, 0.94);
    }

    .p-talk-list {
        width: 100vw;
    }

    .p-talk-chat {
        width: 100vw;
        padding: 0;
    }

    .p-talk.is-inview {
        transform: translateX(-50%);
    }
}

.p-talk-chat {
    height: 100%;
    display: block;
}

.p-talk-chat-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 100%;
    position: relative;
}

.p-talk-chat-title {
    font-weight: 700;
    font-size: 20px;
    border-bottom: #ededf3 1px solid;
    display: flex;
    align-items: center;
    height: 48px;
    width: 100%;
    position: absolute;
    background: rgb(255 255 255 / 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgb(255 255 255 / 0.18);
    box-shadow: 0 3px 18px 0 rgb(31 38 135 / 0.1);
    z-index: 2;
}

.p-talk-chat-prev {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
    padding: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background-color: #ffffff;
    outline: none;
}

.p-talk-chat-prev:hover svg {
    stroke: #ff3b3b60;
}

.p-talk-chat-prev svg {
    width: 100%;
    height: 100%;
    stroke: #ff3b3b;
    transition: .3s ease stroke;
}

@media (min-width: 769px) {
    .p-talk-chat-prev {
        display: none;
    }
}

.p-talk-chat-main {
    overflow-y: auto;
    flex-grow: 1;
    scroll-padding-block-start: 200px;
}

.c-talk-chat {
    display: flex;
    margin-top: 3px;
    position: relative;
    z-index: 0;
}

.c-talk-chat.self {
    justify-content: right;
    margin-right: 12px;
}

.c-talk-chat-box {
    max-width: 80%;
    display: flex;
}

.c-talk-chat-icon {
    height: 36px;
    aspect-ratio: 1 / 1;
}

.c-talk-chat-name {
    font-size: 10px;
    font-weight: 700;
    margin: 2px 0 2px 10px;
}

.c-talk-chat-right {
    flex-grow: 1;
}

.c-talk-chat-msg {
    position: relative;
    padding: 6px 12px;
    border-radius: 12px;
    z-index: 2;
    font-size: 15px;
    line-height: 20px;
    width: fit-content;
}

.c-talk-chat-msg p {
    width: fit-content;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-all;
}

.c-talk-chat.primary {
    margin-top: 10px
}

.c-talk-chat.other .c-talk-chat-msg {
    background-color: #ffffff;
    color: #000000;
}

.c-talk-chat.self .c-talk-chat-msg {
    background-color: #ff3b3b;
    color: #ffffff;
    box-shadow: 1px 1px 10px rgba(31, 38, 135, 0.1);
}

.c-talk-chat.other.primary .c-talk-chat-msg {
    margin-left: 10px;
    border-radius: 2px 12px 12px;
}

.c-talk-chat.other.subsequent .c-talk-chat-msg {
    margin-left: 46px;
}

.c-talk-chat.self.primary .c-talk-chat-msg {
    border-radius: 12px 2px 12px 12px;
}

.c-talk-chat-date {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #7d7d86;
    white-space: nowrap;
    margin-bottom: 4px
}

.c-talk-chat.other .c-talk-chat-date {
    margin-left: 6px;
    text-align: left;
}

.c-talk-chat.self .c-talk-chat-date {
    margin-right: 6px;
    text-align: right;
}

.c-talk-date {
    width: 100%;
    margin: 20px 0 8px
}

.c-talk-chat-date-box {
    padding: 3px 12px;
    background-color: rgb(218 218 228 / 60%);
    width: fit-content;
    margin: 0 auto;
    border-radius: 100px;
    font-size: 11px;
}

.p-talk-chat-send {
    padding: 0 18px 12px;
}

.p-talk-chat-send__form {
    height: 100%;
    border-radius: 12px;
    background-color: #ffffff;
    display: flex;
    align-items: end;
    gap: 6px;
}

.p-talk-chat-send__msg {
    flex-grow: 1;
    position: relative;
    box-shadow: 1px 1px 10px rgb(31 38 135 / 0.1);
    border: 1px solid #efefef;
    border-radius: 16px;
}

.p-talk-chat-send__button {
    height: 44px;
    width: 44px;
    padding: 6px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: transparent;
    border-radius: 100px;
    cursor: default;
}

.p-talk-chat-send__button.is-active {
    background-color: #ff3b3b;
    cursor: pointer;
}

.p-talk-chat-send__button svg {
    padding: 4px;
    width: 100%;
    height: 100%;
}

.p-talk-chat-send__button.is-active svg g {
    fill: #ffffff;
}
.p-talk-chat-send__button svg g {
    fill: #cacacf;
}
.p-talk-chat-send__button.is-active:hover {
    background-color: #db3232;
}

.p-talk-chat-send__dummy {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 15px;
    padding: 10px 0 10px 16px;
    margin: 0;
    overflow: hidden;
    background-color: transparent;
    white-space: break-spaces;
    overflow-wrap: break-word;
    visibility: hidden;
}

.p-talk-chat-send__msg label {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.p-talk-chat-send__textarea {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 15px;
    padding: 10px 0 10px 16px;
    margin: 0;
    overflow: hidden;
    resize: none;
    background-color: transparent;
    white-space: break-spaces;
    overflow-wrap: break-word;
}

.p-talk-chat-send__textarea:focus {
    outline: none;
}

@media (min-width: 769px) {
    .p-talk-chat-main__ul {
        padding: 16px;
    }

    .p-talk-chat-title {
        padding: 8px 18px;
    }
}

@media (max-width: 768px) {
    .p-talk-chat-main__ul {
        padding: 8px;
    }
}